


{% extends "base.html" %} {% block main %}
    
    <h3>Fruits List</h3>
    {% for f in fruits %}
    <p>{{ f }}</p>
    {% endfor %}
    <p>Total: {{ count }}</p>

    <button id="send" name="send123">Get</button>


<script>

   
$(function(){
    $("#send").click(function(){
     //    alert( "Data is : ");
         $.ajax({
             type: "GET",
             url: "/users/ajax/123&abc",
           //  data: {username:$("#username").val(), content:$("#content").val()},
             dataType: "json",
             error: function(){
                  alert( "failed");
             },
             success: function(data){
               alert( "Data is : "+data.id);
                      }


         });
    });
});

</script>

{% endblock %}

