
{% extends "base.html" %} {% block main %}
    
    <h3>Fruits List</h3>
    {% for f in fruits %}
    <p>{{ f }}</p>
    {% endfor %}
    <p>Total: {{ count }}</p>

{% endblock %}

<script>

$.ajax({
 url:   "http://localhost:3000/users/ajax/123&abc",
 type: "GET",
 dataType: "binary", //因为是调用nodeJS返回的json数据，所以必须使用binary类型
 error: function(XMLHttpRequest, textStatus, errorThrown){
    var s1=XMLHttpRequest;
    var s2=textStatus;
    var s3=errorThrown;
    alert("error message : "+errorThrown.toString())
    },
 success: function(data){
    
    alert( "Data is : " +  data );
    } 

}); 




</script>